@page "/Converter"

<h3>Converter</h3>

<label>
    Enter distance to kilometers:
</label>

<input type="text" @bind="@kiloText" />

<br />

<button @onclick="ConvertDistance">Calculate</button>

<strong>
    <label>
        Distance in Miles: @distanceInMiles
    </label>
</strong>

<br />
<br />
<div>
    <h3>
        Checkbox demo
    </h3>
    <div style="background-color: @(IsChecked ? "green" : "yellow"); color: @(IsChecked ? "white" : "blue")">
        <input type="checkbox" @bind="IsChecked" />
        <p>
            Your text
        </p>
    </div>
</div>

@*
    @bind is a directive used for two way binding between the control and the attribute
*@

@code {
    private string kiloText;
    private string distanceInMiles;

    private void ConvertDistance()
    {
        const double CONVERSION = 0.6214;
        distanceInMiles = (double.Parse(kiloText) * CONVERSION).ToString();
    }

    // Checkbox Demo
    // datafield
    private bool _IsChecked;
    // property
    public bool IsChecked
    {
        get => _IsChecked;
        set
        {
            _IsChecked = value;
        }
    }
}
